<div class="dialog__body">
  <button type="button" (click)="close()">X</button>
  <h2 mat-dialog-title>Add incoming</h2>
  <form [formGroup]="operationFormGroup" (ngSubmit)="submit(operationFormGroup)">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Sum</mat-label>
        <input matInput type="text" formControlName="sumControl">
        <mat-error *ngIf="operationFormGroup.controls['sumControl'].errors?.['required']">
          This field is required
        </mat-error>
        <mat-error *ngIf="operationFormGroup.controls['sumControl'].errors?.['pattern']">
          Sum should be composed only from numbers, and have only two decimals
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input [matDatepicker]="basicDatepicker" readonly matInput formControlName="dateControl">
        <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #basicDatepicker></mat-datepicker>
        <mat-error *ngIf="operationFormGroup.controls['dateControl'].errors?.['required']">
          This field is required
        </mat-error>
      </mat-form-field>
      <div>

        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="categories">
          <mat-radio-button class="example-radio-button" *ngFor="let category of incomingsCategories; let i=index" [value]="category">
            {{category.name }}
          </mat-radio-button>
          <mat-error *ngIf="isSubmitted && operationFormGroup.controls['categories'].errors?.['required']">
            This field is required
          </mat-error>
        </mat-radio-group>
      </div>
      <mat-form-field>
        <mat-label>Note</mat-label>
        <textarea matInput
          formControlName="noteControl"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button color="accent" type="submit">Primary</button>
    </mat-dialog-actions>
  </form>
</div>

