<div class="dialog__header">
  <h2 mat-dialog-title>Add incoming</h2>
  <button class="dialog__close" mat-icon-button aria-label="Close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="operationFormGroup" (ngSubmit)="submit(operationFormGroup)">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Sum</mat-label>
      <input matInput type="text" formControlName="sumControl">
      <mat-error *ngIf="operationFormGroup.controls['sumControl'].errors?.['required']">
        This field is required
      </mat-error>
      <mat-error *ngIf="operationFormGroup.controls['sumControl'].errors?.['pattern']">
        Sum should be composed only from numbers, and have only two decimals
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input [matDatepicker]="basicDatepicker" readonly matInput formControlName="dateControl">
      <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker></mat-datepicker>
      <mat-error *ngIf="operationFormGroup.controls['dateControl'].errors?.['required']">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-radio-group
      class="dialog__categories"
      formControlName="categories">
      <div class="dialog__categories-item" *ngFor="let category of incomingsCategories; let i=index">
        <mat-radio-button [value]="category">
          <mat-icon>
            {{ category.icon }}
          </mat-icon>
          <div class="dialog__categories-item-name">{{category.name}}</div>
        </mat-radio-button>
        <mat-error *ngIf="isSubmitted && operationFormGroup.controls['categories'].errors?.['required']">
          This field is required
        </mat-error>
      </div>
    </mat-radio-group>
    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea matInput
        formControlName="noteControl"
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="accent" type="submit">Save</button>
  </mat-dialog-actions>
</form>

