*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: $color-background;
  color: $color-text;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  background-color: #D1C4E9;
}

app-root {
  display: block;
  height: 100%;
  min-height: 100%;
}

.container {
  position: relative;
  padding: 0 1rem;
  width: 100%;
  min-height: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

.cdk-overlay-pane {
  max-width: 90vw!important;
}
