{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.html, *.js, *.scss",
      "options": {
        "parser": "angular",
        "printWidth": 80
      }
    }
  ]
}
