<div class="http-test__actions">
  <button mat-flat-button color="primary" type="button" (click)="openHttpTestDialog()">
    Add new test data
  </button>
  <button mat-flat-button color="primary" type="button" (click)="putTestItem(1)">
    Put test data
  </button>
  <button mat-flat-button color="primary" type="button" (click)="patchTestItem(1)">
    Patch test data
  </button>
  <button mat-flat-button color="primary" type="button" (click)="deleteTestItem(1)">
    Delete test data
  </button>
</div>
<ng-container *ngIf="testData; else emptyState">
  <app-http-test-item *ngFor="let item of testData" [item]="item"></app-http-test-item>
</ng-container>
<ng-template #emptyState
  >Please turn on the server <code>json-server --watch db.json</code></ng-template
>
