@use "sass:map";
@use "@angular/material" as mat;
@use "../../styles/colors";

@mixin theme($theme) {
  /* stylelint-disable */
  $typography: mat.get-typography-config($theme);
  $colors: map.get($theme, color);
  $primary: map.get($colors, primary);
  $caution: map.get($colors, caution);
  $dark: map.get($colors, dark);
  $danger: map.get($colors, danger);
  /* stylelint-enable */

  .transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 4px;
    padding: 16px;
    border-radius: 8px;

    &--income {
      background-color: rgba(56, 142, 60, 0.1);
    }

    &--expense {
      background-color: rgba(211, 47, 47, 0.1);
    }

    &__description {
      width: 100%;
    }

    &__info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 8px;
      justify-content: space-between;
    }

    &__note {
      @include mat.typography-level($typography, "caption");
      color: #757575;
      margin-top: 8px;
    }

    &__sum {
      @include mat.typography-level($typography, "body-2");
      text-align: right;
      flex-grow: 1;
    }

    &__actions {
      flex-shrink: 0;
    }
  }
}
