@use "sass:map";
@use "@angular/material" as mat;
@import '../styles/colors';

@mixin theme($theme) {
  $typography: mat.get-typography-config($theme);
  $colors: map.get($theme, color);
  $primary: map.get($colors, primary);
  $caution: map.get($colors, caution);
  $dark: map.get($colors, dark);
  $danger: map.get($colors, danger);

  .tabs {
    display: block;
    position: relative;
    height: 100%;
    min-height: 100vh;
    padding: 8px 0;
    .mat-mdc-tab-group {
      .mdc-tab {
        @include mat.typography-level($typography, 'body-2');
        &--active {
          background-color: white;
          border-radius: 8px 8px 0 0;
        }
      }
    }
    .mat-mdc-tab-body {
      background-color: white;
      border-radius: 0 0 8px 8px;
      min-height: calc(100vh - 80px);
    }
  }
}
