<h1 class="incomings__title">Incomings</h1>
<ng-container *ngFor="let incoming of incomings">
  <div class="incomings__item">
    <app-incoming-item [item]="incoming"></app-incoming-item>
    <div class="incomings__item-action">
      <button mat-icon-button color="primary" aria-label="Edit incoming" (click)="openEditDialog(incoming)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Delete incoming" (click)="deleteItem(incoming)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>
</ng-container>
<div class="incomings__action">
  <button color="primary" mat-fab (click)="openDialog()" aria-label="Add incoming">
    <mat-icon>add</mat-icon>
  </button>
</div>


