<h1>Expenses</h1>
<ng-container *ngFor="let expense of expenses">
  <div class="expenses__item">
    <app-expense-item [item]="expense"></app-expense-item>
    <div class="expenses__item-action">
      <button mat-icon-button color="primary" aria-label="Edit incoming" (click)="openEditDialog(expense)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Delete incoming" (click)="deleteItem(expense)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
<div class="incomings__action">
  <button color="primary" mat-fab (click)="openDialog()" aria-label="Add incoming">
    <mat-icon>add</mat-icon>
  </button>
</div>

