<mat-card class="transaction__item" [@deleteItem]="state">
  <div class="transaction__item-description">
    <div class="transaction__item-info">
      <div class="transaction__item-category">{{ item.category.name }}</div>
      <div class="transaction__item-sum">
        {{ item.sum | currency }}
      </div>
    </div>
    <div *ngIf="item.note" class="transaction__item-note">
      {{ item.note }}
    </div>
  </div>
  <div class="transaction__item-actions">
    <button
      mat-mini-fab
      color="primary"
      aria-label="Edit"
      (click)="editItem(item)"
      [attr.data-cy]="'transaction-edit-btn-' + idx"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      aria-label="Delete"
      (click)="deleteItem(item)"
      [attr.data-cy]="'transaction-delete-btn-' + idx"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
