<div class="container money-manager-theme">
  <!-- <app-chart></app-chart> -->
  <div class="currency-data">
    <mat-form-field appearance="fill">
      <mat-label>Currency</mat-label>
      <mat-select [(value)]="selectedCurrency" (selectionChange)="currencyChange(selectedCurrency)">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      {{ currentDateRate * 1000 | date }}
    </div>
    <div *ngFor="let currency of currencyRes">
      {{ currency.symbol }}
      :
      {{ currency.amount }}
    </div>
  </div>

  <mat-tab-group class="tabs" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab *ngFor="let tab of tabsContent" [label]="tab.label">
      <app-transactions
        [incomesMode]="tab.incomesMode"
        [expensesMode]="tab.expensesMode"
      ></app-transactions>
    </mat-tab>
  </mat-tab-group>
</div>
