<div class="container money-manager-theme">
  <div class="currency-data">
    <mat-form-field appearance="fill">
      <mat-label>Currency</mat-label>
      <mat-select [(value)]="selectedCurrency" (selectionChange)="currencyChange(selectedCurrency)">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      {{ currentDateRate * 1000 | date }}
    </div>
    <div *ngFor="let currency of currencyRes">
      {{ currency.symbol }}
      :
      {{ currency.amount }}
    </div>
  </div>
  <header>
    <nav>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="http-test" routerLinkActive="active">Test Http Service</a>
      <a routerLink="converter" routerLinkActive="active">Converter</a>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
