<h1 class="transactions__title">{{ title }}</h1>
<ng-container *ngIf="transactions && transactions.length > 0; else emptyState">
  <div
    *ngFor="let transaction of transactions | groupByDate"
    class="transactions__item"
  >
    <p>
      <strong>{{ transaction.key }}</strong>
    </p>
    <app-transaction-item
      *ngFor="let item of transaction.data"
      tabindex="1"
      [item]="item"
      (onDeleteEvent)="deleteItem($event)"
      (onEditEvent)="openEditDialog($event)"
    ></app-transaction-item>
  </div>
</ng-container>
<div class="transactions__action">
  <button
    color="primary"
    mat-fab
    (click)="openDialog(undefined, incomesMode, expensesMode)"
    aria-label="Add"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<ng-template #emptyState> There are no items yet </ng-template>
