// @use "sass:map";
// @use "@angular/material" as mat;

// @mixin theme($theme) {
//   /* stylelint-disable */
//   $typography: mat.get-typography-config($theme);
//   $colors: map.get($theme, color);
//   $primary: map.get($colors, primary);
//   $caution: map.get($colors, caution);
//   $dark: map.get($colors, dark);
//   $danger: map.get($colors, danger);
//   /* stylelint-enable */

  .transactions {
    position: relative;
    display: block;
    height: 100%;
    padding: 16px 0;

    &__search {
      .mat-mdc-form-field {
        width: 100%;
      }
    }
  }
// }
