<h1 class="transactions__title">{{ title }}</h1>
<div class="transactions__action">
  <button
    color="accent"
    mat-fab
    (click)="openDialog(undefined, incomesMode, expensesMode)"
    aria-label="Add"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="transactions__search">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" #searchControl />
  </mat-form-field>
</div>
<ng-container *ngIf="transactions && transactions.length > 0; else emptyState">
  <div
    *ngFor="let transaction of transactions | groupByDate | sortByDate"
    class="transactions__item"
  >
    <p>
      <strong>{{ transaction.key | date : 'dd/MM/yyyy' }}</strong>
    </p>
    <app-transaction-item
      *ngFor="let item of transaction.data"
      tabindex="1"
      [item]="item"
      (onDeleteEvent)="deleteItem($event)"
      (onEditEvent)="openEditDialog($event)"
    ></app-transaction-item>
  </div>
</ng-container>
<ng-template #emptyState> There are no items yet </ng-template>
