<div class="dialog__header">
  <h2 mat-dialog-title>Add item</h2>
  <button class="dialog__close" mat-icon-button aria-label="Close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="transactionFormGroup">
  <mat-dialog-content>
    <div class="transaction-dialog__type">
      <mat-button-toggle-group #transactionType="matButtonToggleGroup" aria-label="transactionType" formControlName="typeControl" (change)="onTypeChange(transactionType.value)">
        <mat-button-toggle [value]="type" *ngFor="let type of transactionTypes">{{type.name}}</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-error *ngIf="isSubmitted && transactionFormGroup.controls['typeControl'].errors?.['required']">
        This field is required
      </mat-error>
    </div>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="text" formControlName="amountControl">
      <mat-error *ngIf="transactionFormGroup.controls['amountControl'].errors?.['required']">
        This field is required
      </mat-error>
      <mat-error *ngIf="transactionFormGroup.controls['amountControl'].errors?.['pattern']">
        Amount should be composed only from numbers, and have only two decimals
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input [matDatepicker]="basicDatepicker" readonly matInput formControlName="dateControl">
      <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #basicDatepicker></mat-datepicker>
      <mat-error *ngIf="transactionFormGroup.controls['dateControl'].errors?.['required']">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-radio-group
      *ngIf="categories"
      class="dialog__categories"
      formControlName="categories">
      <div class="dialog__categories-item" *ngFor="let category of categories; let i=index">
        <mat-radio-button [value]="category">
          <mat-icon>
            {{ category.icon }}
          </mat-icon>
          <div class="dialog__categories-item-name">{{category.name}}</div>
        </mat-radio-button>
        <mat-error *ngIf="isSubmitted && transactionFormGroup.controls['categories'].errors?.['required']">
          This field is required
        </mat-error>
      </div>
    </mat-radio-group>
    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea matInput
        formControlName="noteControl"
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button (click)="close()">Cancel</button>
    <button mat-flat-button color="accent" type="submit" (click)="submit()">Save</button>
  </mat-dialog-actions>
</form>

